.header
  
.wrapper
  .chat-side
    = render "devise/shared/side_bar"
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          = @group.name
        %p.main-header__left-box__members  Member : 
        %p.main-header__left-box__member
          = @group_users
      .right-header
        .right-header__button
          = link_to "Edit"
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__text', placeholder: 'type a mesassage'
        .input-box
          = f.label :image, class: 'input-box__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'submit-btn'
